/*

=================================
=================================

          Global

=================================
=================================

*/

* i {
    display: inline-block;
    min-width: 20px;
}

/*

=================================
=================================

          Navbar Header

=================================
=================================

*/

#main-nav {
    background-color: #c8d6e5;
    border-bottom: 3px solid #8395a7;
}

#brand-img {
    height: 40px;
}

@media screen and (max-width: 350px) {
    #brand-img {
        height: 30px;
    }
}

@media screen and (max-width: 255px) {
    #brand-img {
        height: 20px;
    }
}

#login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-btn i {
    display: inline-block;
    margin-right: 5px;
}
