/*

=================================
=================================

          Global

=================================
=================================

*/

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap");

* i {
  display: inline-block;
  min-width: 20px;
}

/*

=================================
=================================

          Navbar Header

=================================
=================================

*/

#main-nav {
  background-color: #c8d6e5;
  border-bottom: 1px solid #8395a7;
}

#brand-img {
  height: 40px;
}

@media screen and (max-width: 350px) {
  #brand-img {
    height: 30px;
  }
}

@media screen and (max-width: 255px) {
  #brand-img {
    height: 20px;
  }
}

#login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-btn i {
  display: inline-block;
  margin-right: 5px;
}

/*

=================================
=================================

          Showcase

=================================
=================================

*/

#showcase {
  padding: 3rem 0;
  background-color: #fff;
}

#showcase .container {
  display: flex;
}

#showcase .slider {
  flex: 1;
  margin-right: 2rem;
  overflow: hidden;
  border-radius: 10px;
}

#showcase .content {
  flex: 1;
  padding: 1rem;
  line-height: 1.7rem;
}

#showcase .container p {
  margin-bottom: 0.3rem;
}

#showcase .content p span {
  text-transform: uppercase;
  color: #454545;
}

#showcase .content .brand-text {
  font-weight: bold;
  font-family: "Playfair Display", sans-serif;
  font-size: 2.7rem;
}

#showcase .content ul {
  columns: 2;
}

@media screen and (max-width: 768px) {
  #showcase {
    padding: 1rem 0;
  }
  #showcase .container {
    display: flex;
    flex-direction: column;
  }

  #showcase .slider {
    border-radius: 0;
    margin-right: 0;
  }

  #showcase .content ul {
    columns: 1;
  }
}

/*

=================================
=================================

      Statements Section

=================================
=================================

*/

#statements {
  width: 100%;
  padding: 3rem 0;
  background-color: #f9f9f9;
}

#statements p {
  margin-bottom: 0.3rem;
}

#statements p span {
  text-transform: uppercase;
  color: #454545;
}

#statements h2 {
  color: #353535;
}

#statements h2 span {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}

#statements .statements-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: stretch;
  margin-top: 1rem;
}

#statements .statement-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #fff;
}

#statements .statement-box h3 {
  font-size: 1.4rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
}

#statements .statement-box p {
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 992px) {
  #statements .statements-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #statements .statements-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*

=================================
=================================

      Notices Section

=================================
=================================

*/

#notices {
  width: 100%;
  padding: 2rem 0;
  background-color: #fff;
}

#notices h2 {
  font-family: "Lato", sans-serif;
  text-align: center;
}

#notices h2 span {
  font-size: 2.3rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
}

#notices .notices-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 1.3rem 0;
}

#notices .card {
  border-radius: 10px;
  overflow: hidden;
}

#notices .card-img-top {
  height: 150px;
}

#notices .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#notices .card-body a {
  margin-top: auto;
}

#notices #read-all {
  text-align: center;
}

@media screen and (max-width: 992px) {
  #notices .notices-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #notices .notices-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*

=================================
=================================

          News

=================================
=================================

*/

#news {
  width: 100%;
  padding: 2rem 0;
  background-color: #f4f4f4;
}

#news h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
}

#news h2 span {
  font-weight: bold;
  font-size: 2.3rem;
  font-family: "Playfair Display", sans-serif;
}

#news .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 1rem;
}

#news .card {
  overflow: hidden;
  border-radius: 10px;
}

#news .primary-news .card-img-top {
  height: 300px;
}

#news .primary-news .card {
  /* height: 100%; */
  height: auto;
}

#news .primary-news .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#news .primary-news .card-body a {
  margin-top: auto;
}

#news .secondary-news .card {
  flex-direction: row;
  margin-bottom: 0.8rem;
}

#news .secondary-news .card:last-child {
  margin-bottom: 0;
}

#news .secondary-news .card-img-top {
  flex: 1;
}

#news .secondary-news .card-body {
  flex: 2;
}

#news #read-all {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  #news .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #news .secondary-news .card {
    flex-direction: column;
  }

  #news .secondary-news .card-img-top {
    height: 400px;
  }

  #news .secondary-news .card-img-top,
  #news .secondary-news .card-body {
    flex: none;
  }
}

@media screen and (max-width: 576px) {
  #news .primary-news .card-img-top,
  #news .secondary-news .card-img-top {
    height: 200px;
  }
}

/*

=================================
=================================

        Events Section

=================================
=================================

*/

#events {
  width: 100%;
  padding: 2rem 0;
}

#events h2 {
  font-family: "Lato", sans-serif;
  text-align: center;
}

#events h2 span {
  font-weight: bold;
  font-size: 2.3rem;
  font-family: "Playfair Display", sans-serif;
}

#events .events-container {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

#events .card {
  overflow: hidden;
  border-radius: 10px;
}

#events .card-img-top {
  height: 200px;
}

#events .card-title a {
  color: #454545;
  text-decoration: none;
  font-size: 1.2rem;
}

@media screen and (max-width: 992px) {
  #events .events-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #events .events-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  #events .events-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
/*

=================================
=================================

          Top-Footer

=================================
=================================

*/

#top-footer {
  width: 100%;
  border-bottom: 1px solid #bbb;
}

/* Social Media Links */

#top-footer .social-media-footer {
  padding: 0.8rem;
}

.social-media-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-footer li {
  margin-right: 15px;
}

.social-media-footer li:last-child {
  margin-right: 0;
}

.social-media-footer i {
  padding: 10px;
  font-size: 1rem;
  color: #888;
  border: 2px solid #888;
  border-radius: 50%;
  transition: all 0.5s;
}

.social-media-footer i.fa-facebook:hover {
  border: 2px solid #3b5998;
  color: #3b5998;
}

.social-media-footer i.fa-twitter:hover {
  border: 2px solid #1da1f2;
  color: #1da1f2;
}

.social-media-footer i.fa-google:hover {
  border: 2px solid #4285f4;
  color: #4285f4;
}

.social-media-footer i.fa-linkedin:hover {
  border: 2px solid #0e76a8;
  color: #0e76a8;
}

.social-media-footer i.fa-instagram:hover {
  border: 2px solid #8a3ab9;
  color: #8a3ab9;
}

.social-media-footer i.fa-github:hover {
  border: 2px solid #4078c0;
  color: #4078c0;
}

@media screen and (max-width: 360px) {
  .social-media-footer i {
    padding: 6px;
    font-size: 1rem;
    border: none;
  }

  .social-media-footer i.fab:hover {
    border: none;
  }

  .social-media-footer li {
    margin-right: 7px;
  }

  .social-media-footer li:last-child {
    margin-right: 0;
  }
}

/*

=================================
=================================

          Main-Footer

=================================
=================================

*/

#main-footer {
  width: 100%;
  padding: 1.5rem;
}

#main-footer .container-fluid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-start;
  justify-content: space-around;
  gap: 2rem;
}

#main-footer .container-fluid div:first-child {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#main-footer .container-fluid div:first-child img {
  height: 50px;
  margin-bottom: 20px;
}

#main-footer h2 {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #454545;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}

#main-footer h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 27%;
  height: 3px;
  background-color: #353535;
}

#main-footer .container-fluid div {
  padding: 10px;
}

#main-footer ul {
  list-style-type: none;
  padding: 0;
  padding-top: 1rem;
}

#main-footer li {
  margin-bottom: 0.4rem;
  margin-left: 0.5rem;
}

#main-footer ul a {
  color: #757575;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.5s;
}

#main-footer ul a:hover {
  color: #353535;
}

@media screen and (max-width: 1200px) {
  #main-footer .container-fluid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  #main-footer .container-fluid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #main-footer .container-fluid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  #main-footer .container-fluid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.3rem;
  }

  #main-footer .container-fluid div:first-child {
    text-align: center;
  }

  #main-footer .container-fluid div:first-child img {
    width: 50%;
    height: auto;
  }

  #main-footer ul {
    padding-top: 0.3rem;
  }
}

@media screen and (max-width: 300px) {
  #main-footer .container-fluid div:first-child img {
    height: 30px;
    width: auto;
  }
}

/*

=================================
=================================

          Bottom-Footer

=================================
=================================

*/

#bottom-footer {
  width: 100%;
  text-align: center;
  padding: 1rem 0.5rem;
  background-color: #f2f2f2;
}

#bottom-footer p {
  margin: 0;
  color: #676767;
}

#bottom-footer span {
  font-size: 0.8rem;
  color: #979797;
}

@media screen and (max-width: 576px) {
  #bottom-footer span {
    display: block;
  }
}
